<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="direction: rtl;">
  <p>
    קורות חיים נשלח בהצלחה,
  </p>
  <p>
    מייל: {{email}}
  </p>
  <p>
    איש קשר: {{name}}
  </p>
  <p>
    חברה: {{company}}
  </p>
</body>

</html>