<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="direction: rtl;">
  <p>
    היי {{name}},
  </p>
  <p>
    שמי דביר, אני מפתח צעיר Fullstack עם רצון ענק להתשלב בתעשייה
  </p>
  <p>
    אני בוגר Jhon Bryce לקורס Full Stack Developer אותו סיימתי בהצטיינות.
  </p>

  <p>
    בעל יכולת למידה עצמית והתמדה גבוה
  </p>


</body>

</html>